<ul class="team">
  <li class="team-member">
    <a href="http://www.nitinsavant.com" target="_blank">
      <figure>
        <img alt="Nitin Savant" src="{{ site.baseurl }}/img/nitin.png">
      </figure>
      <strong>Nitin Savant</strong>
      <br>
      Software Engineer (MN)
    </a>
  </li>
  <li class="team-member">
    <a href="https://www.linkedin.com/in/elise-olivares-123370141/" target="_blank">
      <figure>
        <img alt="Elise Olivares" src="{{ site.baseurl }}/img/el_resized.jpg">
      </figure>
      <strong>Elise Olivares</strong>
      <br>
      Software Engineer (SF)
    </a>
  </li>
  <li class="team-member">
    <a href="https://www.linkedin.com/in/sjbeatteay/" target="_blank">
      <figure>
        <img class="sunny" alt="Sun-Li Beatteay" src="{{ site.baseurl }}/img/sunny.jpg">
      </figure>
      <strong>Sun-Li Beatteay</strong>
      <br>
      Software Engineer (NYC)
    </a>
  </li>
</ul>
