<ul class="team">
  <li class="team-member">
    <a href="">
      <figure>
        <img alt="Nitin Savant" src="../img/nitin.png">
      </figure>
      <strong>Nitin Savant</strong>
      <br>
      Software Engineer (MN)
    </a>
  </li>
  <li class="team-member">
    <a href="">
      <figure>
        <img alt="Elise Olivares" src="../img/el_resized.jpg">
      </figure>
      <strong>Elise Olivares</strong>
      <br>
      Software Engineer (SF)
    </a>
  </li>
  <li class="team-member">
    <a href="">
      <figure>
        <img class="sunny" alt="Sun-Li Beatteay" src="../img/sunny.jpg">
      </figure>
      <strong>Sun-Li Beatteay</strong>
      <br>
      Software Engineer (NYC)
    </a>
  </li>
</ul>
