<ul class="team">
  <li class="team-member">
    <a href="">
      <figure>
        <img alt="Nitin Savant" src="">
      </figure>
      <strong>Nitin Savant</strong>
      <br>
      Software Engineer (MN)
    </a>
  </li>
  <li class="team-member">
    <a href="">
      <figure>
        <img alt="Elise Olivares" src="">
      </figure>
      <strong>Elise Olivares</strong>
      <br>
      Software Engineer (SF)
    </a>
  </li>
  <li class="team-member">
    <a href="">
      <figure>
        <img alt="Sun-Li Beatteay" src="">
      </figure>
      <strong>Sun-Li Beatteay</strong>
      <br>
      Software Engineer (NYC)
    </a>
  </li>
</ul>
